
body > main#gallery-home {
    margin-top: 100px;
}

#gallery-home {
    display: grid;
    grid-gap: 2vw;
    grid-template-columns: repeat( 2, minmax( auto, 1fr ) );
    grid-auto-rows: 40vw 40vw;
    grid-auto-flow: dense;
    padding: 2vw;
}

@media ( min-width: 768px ) {

    #gallery-home {
        grid-template-columns: repeat( 4, minmax( auto, 1fr ) );
        grid-auto-rows: 17vw;
        grid-gap: 1vw;
        padding: 1vw;
    }
}

#gallery-home > div {
    /* border: 1px solid blue; */
    /* background-color: #0ff; */
    box-shadow: 0px 0px 15px rgba( 0, 0, 0, 0.2 );
    /* border: 1px solid #fff; */
}

#gallery-home > div {
    overflow: hidden;
    position: relative;
    /* background-color: #c4c4c4; */
    /* background-color: #1e3441; */
    background-color: #dbdbdc;
    background-color: rgb(204, 204, 204);
    background-color: #fff;
    cursor: pointer;
}

#gallery-home > div:has( > div ) {
    border: 1px solid red;
}

#gallery-home > div:before {
    /* background-color: #fed000; */
    mix-blend-mode: lighten;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}

#gallery-home > div:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0px;
    opacity: 0;
    background-color: rgba( 0, 0, 0, 0 );
    transition: all 1s ease;
}

#gallery-home > div img {
    min-width: 101%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s;
    /* filter: grayscale(100%) contrast(90%) blur(0px) brightness(1.2); */

    /* filter: grayscale(100%) contrast(50%) blur(0px) brightness(1.2); */

    /* filter: grayscale(100%) contrast(80%) blur(0px) brightness(.9); */

    filter: grayscale(100%) opacity(100%);


    mix-blend-mode: darken;
    opacity: 1;
    position: relative;
    /* filter: sepia(0); */
    /* filter: contrast(0%); */
    /* filter: grayscale(100%); */

    transform: scale( 0.999 );
    
}

#gallery-home > div:hover img {
    /* object-fit: cover; */
    transform: scale( 1.05 );
    filter: grayscale(0%) opacity(100%);
    mix-blend-mode: normal;
}

#gallery-home > div .text {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 300;
    letter-spacing: 0px;
    color: #fff;
    color: #000;
    color: #aa0000;
    transition: all 0.8s ease;
    background-color: rgba( 19, 38, 49, 0.6 );
    background-color: rgba( 241, 241, 241, 0.95 );
    background-color: rgba( 255, 255, 255, 1 );
    padding: 10px 15px;
    width: 100%;
    /* padding-right: 10px; */
    text-shadow: 0px 2px 5px #fff;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#gallery-home > div .text em:after {
    content: '|';
    margin: 0px 10px;
    font-size: 0.8rem;
    font-weight: normal;
    color: rgb(221, 221, 221);
}

#gallery-home > div .text em {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 0.6rem;
    /* margin-right: 5px; */
    color: #666;
}

#gallery-home > div:hover .text {
    bottom: 0px;
}

#gallery-home > div span {
    display: block;
    position: absolute;
    right: 0px;
    top: -40px;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: #fff;
    color: #161616;
    transition: all 0.8s ease;
    /* background-color: rgba( 19, 38, 49, 0.6 ); */
    background-color: rgba(255, 1, 1, 0.95);
    background-color: rgba( 255, 255, 255, 1 );
    padding: 5px 15px;
    width: 100%;
    /* padding-right: 10px; */
    text-shadow: 0px 1px 1px #fff;
}

#gallery-home > div:hover span {
    top: -40px;
    
}

#gallery-home > div a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}