@import 'header.css';
@import 'burger_page.css';

:root {
    --basefont: 14px;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    font-size: var( --basefont );
    -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

*::placeholder {
    color: red;
}

ul {
    list-style: none;
}


/* width */
.scroll::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
.scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
    background-color: yellow;
    background-image: url( ../images/scrollbar_track.gif );
    width: 3px;
}
  
/* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: #e7bd6d; 
    background: #858585; 
    /* background-color: #aa0000; */
    width: 10px;
}
  
.scroll::-webkit-scrollbar-thumb:hover {
    background: #e7bd6d; 
    background: #858585; 
    background-color: #aa0000; 
    width: 10px;
}